* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}

html {
  scroll-behavior: smooth;
}

.nav_bar {
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px 2px 5px #00000045;
          box-shadow: 0px 2px 5px #00000045;
  position: fixed;
  top: 0%;
  background-color: transparent;
  border-bottom: 1px solid rgba(220, 220, 220, 0.2);
  z-index: 99;
}

.extr1 {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 50% 30%;
      grid-template-columns: 20% 50% 30%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.menu_icn {
  width: 100%;
  height: 100%;
  display: none;
}

.extr6 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: white;
}

.logo_bar {
  width: 100%;
  height: 100%;
  /* background-color: pink; */
}

.logo_bar a {
  height: 100%;
}

.logo_bar a img {
  height: 100%;
}

.menu_bar {
  width: 100%;
  height: 100%;
  text-align: center;
}

.menu_bar ul {
  list-style: none;
  position: relative;
  margin: 30px 0px;
  padding: 0;
  float: right;
}

.menu_bar ul li {
  margin: 0px 15px;
  float: left;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu_bar ul li a {
  color: #fa5b0f;
  font-size: 16px;
  line-height: 32px;
  padding: 6px 16px;
  border-radius: 2px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu_bar ul li a i {
  font-size: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

.active {
  border: 1px solid #fa5b0f;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropdwn_nav {
  width: 200px;
  height: auto;
  border-radius: 2px;
  position: absolute;
  background: #eaeaea;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  top: 150%;
  left: -2%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropdwn_nav ul {
  list-style-type: none;
  margin: 0;
}

.dropdwn_nav ul li {
  display: block;
  margin: 0;
  width: 100%;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #0000002e;
  cursor: pointer;
}

.dropdwn_nav ul li:hover {
  background: #00000024 !important;
}

.dropdwn_nav ul li:hover a {
  color: #00000087 !important;
  font-size: 15px;
  font-weight: 400;
  padding: 15px 50px 15px 0px;
  margin: 0;
}

.dropdwn_nav ul li a {
  color: #00000087 !important;
  font-size: 15px;
  font-weight: 400;
  padding: 15px 50px 15px 0px;
  margin: 0;
}

.menu_bar ul li:hover {
  color: #eaeaea;
  background-color: #fa5b0f;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu_bar ul li:hover .dropdwn_nav {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 120%;
}

.menu_bar ul li:hover a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #eaeaea;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.submit_btn {
  width: 100%;
  height: 100%;
}

.extr7 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.login_btn {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login_btn a {
  font-size: 16px;
  margin: 35px 0px;
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.login_btn a:hover {
  color: #535353;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.submit_property_btn {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit_property_btn a {
  font-size: 16px;
  margin: 30px 0px;
  color: #fa5b0f;
  border: 1px solid #fa5b0f;
  padding: 6px 16px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.submit_property_btn a:hover {
  font-size: 16px;
  margin: 30px 0px;
  color: #eaeaea;
  background-color: #fa5b0f;
  border-radius: 2px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.scroll_to_top {
  width: 44px;
  height: 44px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
  bottom: 5%;
  left: 2%;
  z-index: 500;
  background: #fa5b0f;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.scroll_to_top i {
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: white;
}

.header {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}

.slide_show_images {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 8;
}

.extr2 {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide_show_images img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.black_bx {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #000000de;
  z-index: 9;
}

.extr5 {
  width: 100%;
  height: 100%;
}

.row {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.prev {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.prev:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #00000029;
}

.prev:hover .prev_icn {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.prev_icn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fa5b0f;
}

.next {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.next:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #00000029;
}

.next:hover .next_icn {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.next_icn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fa5b0f;
}

.srch_panel {
  width: 10%;
  height: 100%;
  top: 0%;
  padding: 0%;
  position: relative;
  z-index: 11;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.srch_bar {
  width: 100%;
  height: auto;
  padding: 1%;
  background-color: #eaeaea;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 38% 23% 20% 16%;
      grid-template-columns: 38% 23% 20% 16%;
  grid-gap: 1%;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
}

.location_bar {
  width: 100%;
  height: 100%;
  background-color: #ffffffa1;
  border: 1px solid #00000047;
  cursor: pointer;
}

.location_bar input {
  width: 90%;
  height: 100%;
  float: right;
  border: none;
  background: none;
  outline: none;
}

.location_bar span {
  width: 10%;
  height: 100%;
  float: left;
  background: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.type_bar {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffffffa1;
  border: 1px solid #00000047;
}

.type_bar .dropdwn_form {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  top: 100%;
  display: none;
}

.type_bar .dropdwn_form .type {
  width: 100%;
  height: 50px;
  padding: 5% 10%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.type_bar .dropdwn_form .type:hover {
  color: white;
  background: #fa5b0f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.type_bar .extr3 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.type_bar .extr3 button {
  width: 80%;
  height: 100%;
  float: left;
  background: none;
  border: none;
  padding-left: 10%;
  text-align: left;
  outline: none;
}

.type_bar .extr3 span {
  width: 20%;
  height: 100%;
  float: right;
  display: -ms-grid;
  display: grid;
  background: none;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.type_bar .extr4 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: none;
}

.type_bar .extr4 button {
  width: 80%;
  height: 100%;
  float: left;
  background: none;
  border: none;
  padding-left: 10%;
  text-align: left;
  outline: none;
}

.type_bar .extr4 span {
  width: 20%;
  height: 100%;
  float: right;
  display: -ms-grid;
  display: grid;
  background: none;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.btn_bar {
  width: 100%;
  height: 100%;
  background-color: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 18px;
}

.btn_bar input {
  cursor: pointer;
}

.srch_btn {
  width: 100%;
  height: 100%;
}

.srch_btn button {
  width: 100%;
  height: 100%;
  outline: none;
  background: #fa5b0f;
  font-weight: 600;
  border: none;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.srch_btn button:hover {
  font-weight: 600;
  background: none;
  border: 1px solid #fa5b0f;
  color: #fa5b0f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#btn3 {
  width: 100%;
  height: 100%;
  display: none;
  outline: none;
  background: #fa5b0f;
  font-weight: 600;
  border: none;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#btn3:hover {
  font-weight: 600;
  background: none;
  border: 1px solid #fa5b0f;
  color: #fa5b0f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.section {
  width: 100%;
  height: auto;
  background-color: #eaeaea;
  margin: 50px 0px;
}

.featured_cart {
  width: 100%;
  height: auto;
}

.headng1 {
  width: 100%;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headng1 h1 {
  font-size: 30px;
  font-weight: 400;
}

.cart1 {
  width: 100%;
  height: auto;
}

.site_cart {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.site_img {
  width: 100%;
  height: 250px;
  background: white;
  overflow: hidden;
  border-top: 1px solid #0000004f;
  border-left: 1px solid #0000004f;
  border-right: 1px solid #0000004f;
  cursor: url("../img/01.SVG"), auto;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.site_img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 50;
}

.site_img .img_for_cart {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 19;
}

.site_img .img_for_cart .extra2 {
  width: 100%;
  height: 100%;
  position: relative;
}

.site_img .img_for_cart .extra2 img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.site_img .site_blackbx {
  width: 100%;
  height: 100%;
  background: #00000066;
  position: absolute;
  z-index: 20;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.site_img .site_blackbx .extra1 {
  width: 100%;
  height: 100%;
  position: relative;
}

.site_img .site_blackbx .extra1 .site_featured {
  width: 100%;
  height: 40px;
  background: #fa5b0f;
  position: absolute;
  left: -40%;
  top: 10%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: white;
  -webkit-box-shadow: 0px 4px 15px 0px black;
          box-shadow: 0px 4px 15px 0px black;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.site_img .site_blackbx .extra1 .price {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
}

.site_img .site_blackbx .extra1 .price p {
  color: #fff;
  font-size: 23px;
  font-weight: 600;
}

.site_img .site_blackbx .extra1 .price p small {
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  margin: -4px 0 0 0;
}

.site_infrm {
  width: 100%;
  height: auto;
  background: white;
  border-left: 1px solid #0000004f;
  border-right: 1px solid #0000004f;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site_infrm .name1 {
  width: 100%;
  height: 35px;
  text-align: center;
  color: black;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
}

.site_infrm .name2 {
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.site_infrm .addrss1:hover {
  color: #fa5b0f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.site_btn {
  width: 100%;
  height: auto;
  background: #eaeaea;
  border-left: 1px solid #0000004f;
  border-right: 1px solid #0000004f;
}

.site_btn button {
  height: 40px;
  color: white;
  background: #fa5b0f;
  border-color: #fa5b0f;
  outline: none;
  -webkit-box-shadow: 3px 6px 10px #0000006e;
          box-shadow: 3px 6px 10px #0000006e;
}

.site_btn button a {
  width: 100%;
  height: 100%;
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.site_seller {
  width: 100%;
  height: auto;
  background: white;
  border-left: 1px solid #0000004f;
  border-right: 1px solid #0000004f;
  border-bottom: 1px solid #0000004f;
  padding: 20px 0 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-row-gap: 10px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.site_seller .seller_inrm {
  width: 100%;
  height: 100%;
  text-align: center;
}

.site_seller .seller_inrm p {
  margin: 0;
  font-weight: 700;
  color: #00000080;
}

.see_more1 {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.see_more1 button {
  margin: 0 auto;
  background: #fa5b0f;
  border: 1px solid #fa5b0f;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 40px;
  border-radius: 5px;
  width: 100px;
  outline: none;
}

.see_more1 button:hover {
  background: transparent;
  border: 1px solid #fa5b0f;
  color: #fa5b0f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.see_more1 button:hover a {
  color: #fa5b0f;
}

.see_more1 button a {
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.side_navigation {
  width: 275px;
  height: 100%;
  position: fixed;
  background: #eaeaea;
  left: -200%;
  top: 0;
  z-index: 998;
  overflow-y: scroll;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 {
  width: 100%;
  height: 100%;
}

.side_navigation .extra26 .side_logo {
  width: 100%;
  height: auto;
}

.side_navigation .extra26 .side_submit_property_btn {
  width: 100%;
  height: 50px;
  margin: 30px 0px 0px 0px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fa5b0f;
  background-color: #fa5b0f;
}

.side_navigation .extra26 .side_submit_property_btn:hover {
  background-color: #eaeaea;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_submit_property_btn:hover a {
  font-size: 16px;
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_submit_property_btn a {
  font-size: 16px;
  color: #eaeaea;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_login {
  width: 100%;
  height: 50px;
  margin: 20px 0px 20px 0px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_login a {
  font-size: 16px;
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_login a:hover {
  color: #535353;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_nav_links {
  width: 100%;
  height: auto;
}

.side_navigation .extra26 .side_nav_links .home_link {
  width: 100%;
  height: 50px;
  border: 1px solid #fa5b0f;
  border-color: #fa5b0f transparent #fa5b0f transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.side_navigation .extra26 .side_nav_links .home_link:hover {
  background: #fa5b0f;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_nav_links .home_link:hover p {
  color: #eaeaea !important;
  margin: 0 !important;
}

.side_navigation .extra26 .side_nav_links .home_link:hover i {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .home_link .home_name {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .home_link .home_name p {
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  margin: 0 !important;
}

.side_navigation .extra26 .side_nav_links .home_link .home_icn {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .home_link .home_icn i {
  color: #fa5b0f;
}

.side_navigation .extra26 .side_nav_links .home_link .home_icn .side_icn2 {
  display: none;
}

.side_navigation .extra26 .side_nav_links .home_link2 {
  width: 100%;
  height: 50px;
  display: none;
  background: #fa5b0f;
  border: 1px solid #fa5b0f;
  border-color: #fa5b0f transparent #fa5b0f transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.side_navigation .extra26 .side_nav_links .home_link2 .home_name2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .home_link2 .home_name2 p {
  color: #eaeaea !important;
  margin: 0 !important;
}

.side_navigation .extra26 .side_nav_links .home_link2 .home_icn2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .home_link2 .home_icn2 i {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .home_link2 .home_icn2 .side_icn1 {
  display: none;
}

.side_navigation .extra26 .side_nav_links .side_extra_link {
  width: 100%;
  height: auto;
}

.side_navigation .extra26 .side_nav_links .side_extra_link .extra_link {
  width: 100%;
  height: 50px;
  border: 1px solid #fa5b0f;
  border-color: transparent transparent #fa5b0f transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.side_navigation .extra26 .side_nav_links .side_extra_link .extra_link:hover {
  background: #fa5b0f;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_nav_links .side_extra_link .extra_link:hover a {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .side_extra_link .extra_link:hover i {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .side_extra_link .extra_link a {
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.side_navigation .extra26 .side_nav_links .listing_link {
  width: 100%;
  height: 50px;
  border: 1px solid #fa5b0f;
  border-color: transparent transparent #fa5b0f transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.side_navigation .extra26 .side_nav_links .listing_link:hover {
  background: #fa5b0f;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_nav_links .listing_link:hover a {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .listing_link:hover i {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .listing_link .listing_name {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .listing_link .listing_name a {
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.side_navigation .extra26 .side_nav_links .blog_link {
  width: 100%;
  height: 50px;
  border: 1px solid #fa5b0f;
  border-color: transparent transparent #fa5b0f transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.side_navigation .extra26 .side_nav_links .blog_link:hover {
  background: #fa5b0f;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_nav_links .blog_link:hover a {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .blog_link:hover i {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .blog_link .blog_name {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .blog_link .blog_name a {
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.side_navigation .extra26 .side_nav_links .page_link {
  width: 100%;
  height: 50px;
  border: 1px solid #fa5b0f;
  border-color: transparent transparent #fa5b0f transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.side_navigation .extra26 .side_nav_links .page_link:hover {
  background: #fa5b0f;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_nav_links .page_link:hover p {
  color: #eaeaea !important;
  margin: 0 !important;
}

.side_navigation .extra26 .side_nav_links .page_link:hover i {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .page_link .page_name {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .page_link .page_name p {
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  margin: 0 !important;
}

.side_navigation .extra26 .side_nav_links .page_link .page_icn {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .page_link .page_icn i {
  color: #fa5b0f;
}

.side_navigation .extra26 .side_nav_links .page_link2 {
  width: 100%;
  height: 50px;
  display: none;
  background: #fa5b0f;
  border: 1px solid #fa5b0f;
  border-color: #fa5b0f transparent #fa5b0f transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.side_navigation .extra26 .side_nav_links .page_link2 .page_name2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .page_link2 .page_name2 p {
  color: #eaeaea !important;
  margin: 0 !important;
}

.side_navigation .extra26 .side_nav_links .page_link2 .page_icn2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .page_link2 .page_icn2 i {
  color: #eaeaea !important;
}

.page-item.active .page-link {
  z-index: 1;
  color: #eaeaea;
  background-color: #fa5b0f;
  border-color: #fa5b0f;
}

.page-link {
  color: #fa5b0f;
}

.page-link:hover {
  color: #fa5b0f;
}

.carouselForPartners {
  width: 100%;
  height: auto;
}

.carouselForPartners .owl-carousel {
  width: 100%;
  height: auto;
}

.carouselForPartners .owl-carousel .active {
  border: none;
}

.carouselForPartners .owl-carousel .rkj {
  width: 100%;
  height: 200px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carouselForPartners .owl-carousel .rkj img {
  width: auto !important;
  height: 90%;
}

.owl-carousel .owl-dots, .owl-carousel .owl-nav {
  display: inline-block !important;
}

.popular_places {
  width: 100%;
  height: auto;
  padding: 0%;
  margin-top: 50px;
}

.popular_places .headng2 {
  width: 100%;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular_places .headng2 h1 {
  font-size: 30px;
  font-weight: 400;
}

.popular_places .popular_cities {
  width: 100%;
  height: 100%;
}

.popular_places .cities {
  width: 100%;
  height: 350px;
  position: relative;
}

.popular_places .cities .extra13 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popular_places .cities .extra13:hover .extr_bx {
  background: #fa5b0f40;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popular_places .cities .extra13:hover .extra14 {
  position: relative;
}

.popular_places .cities .extra13:hover .extra14 img {
  -webkit-transform: translate(-50%, -50%) scale(1.1) !important;
          transform: translate(-50%, -50%) scale(1.1) !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popular_places .cities .extra13 .bg_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.popular_places .cities .extra13 .bg_img .extra14 {
  position: relative;
}

.popular_places .cities .extra13 .bg_img .extra14 img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popular_places .cities .extra13 .extr_bx {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  margin: 0;
  background: #000000b5;
}

.popular_places .cities .extra13 .extr_bx a {
  color: white;
}

.popular_places .cities .extra13 .extr_bx a p {
  text-align: center;
}

.popular_places .cities .extra13 .extr_bx a p small {
  font-size: 16px;
  color: #fff;
}

.blog_posts {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.blog_posts .headng2 {
  width: 100%;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_posts .headng2 h1 {
  font-size: 30px;
  font-weight: 400;
}

.blog_posts .blog_new {
  width: 100%;
  height: auto;
}

.blog_posts .blog_new .extra15 {
  background: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.blog_posts .blog_new .extra15 .blog_img {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.blog_posts .blog_new .extra15 .blog_img img {
  width: 100%;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blog_posts .blog_new .extra15 .blog_img .blog_extra_bx {
  background: #0000008c;
  position: absolute;
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog_posts .blog_new .extra15 .blog_img .blog_extra_bx:hover {
  background: #000000b0;
}

.blog_posts .blog_new .extra15 .blog_img .blog_extra_bx:hover .see_more_blog {
  top: 50% !important;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog_posts .blog_new .extra15 .blog_img .blog_extra_bx .extra16 {
  position: relative;
}

.blog_posts .blog_new .extra15 .blog_img .blog_extra_bx .extra16 .see_more_blog {
  width: 100px;
  height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: white;
  position: absolute;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blog_posts .blog_new .extra15 .blog_img .blog_extra_bx .extra16 .see_more_blog a {
  color: black;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.blog_posts .blog_new .extra15 .blog_img .blog_extra_bx .extra16 .see_more_blog:hover {
  background: black;
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog_posts .blog_new .extra15 .blog_img .blog_extra_bx .extra16 .see_more_blog:hover a {
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.blog_posts .blog_new .extra15 .blog_inrmf {
  width: 100%;
  height: auto;
}

.blog_posts .blog_new .extra15 .blog_inrmf h3 {
  margin: 0;
  line-height: 34px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.blog_posts .blog_new .extra15 .blog_inrmf h3:hover a {
  color: #fa5b0f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.blog_posts .blog_new .extra15 .blog_inrmf h3 a {
  color: #333;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 22px;
}

.blog_posts .blog_new .extra15 .blog_inrmf p {
  color: #707070;
  margin-top: 18px;
}

.blog_posts .blog_new .extra15 .blog_inrmf a {
  color: #274abb;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.blog_posts .blog_new .extra15 .blog_inrmf a:hover {
  color: #0000008c;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.details {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.details .headng3 {
  width: 100%;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details .headng3 h1 {
  font-size: 30px;
  font-weight: 400;
}

.details .extra18 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details img {
  width: 50%;
}

.footer {
  width: 100%;
  height: auto;
  margin-top: 50px;
  padding-top: 80px;
  background: #111;
}

.footer .company_title img {
  max-height: 75px;
  width: auto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.footer .company_title p {
  margin: 0 0 17px;
  color: #ffffff9c;
}

.footer .helpful_links h4 {
  color: #ffffffe6;
  font-size: 21px;
  margin-bottom: 25px;
}

.footer .helpful_links .footer-links {
  margin: 0 0 15px 0;
  padding: 0;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: circle;
  float: left;
}

.footer .helpful_links .footer-links li {
  position: relative;
  list-style: none;
}

.footer .helpful_links .footer-links li::before {
  font-family: "FontAwesome";
  font-size: 20px;
  position: absolute;
  left: 0;
  top: -2px;
  padding: 0 7px 0 0;
  color: #ccc;
}

.footer .helpful_links .footer-links li a {
  padding: 0 0 9px 16px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #ffffff9c;
  line-height: 21px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .helpful_links .footer-links li a:hover {
  color: #ffffffde;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .contact_us {
  color: #ffffff9c;
}

.footer .contact_us h4 {
  color: #ffffffe6;
  font-size: 21px;
  margin-bottom: 25px;
}

.footer .contact_us .text-widget span {
  color: #ffffff9c;
}

.footer .contact_us .text-widget span {
  color: #ffffff9c;
}

.footer .contact_us .social-icons {
  position: relative;
  list-style-type: none;
  margin-top: 20px !important;
}

.footer .contact_us .social-icons li {
  width: 38px;
  height: 40px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  float: left;
  line-height: 0;
}

.footer .contact_us .social-icons li a {
  color: #ffffff59;
  background-color: transparent;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .contact_us .social-icons li a:hover {
  color: #fa5b0f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .last_description {
  width: 100%;
  margin-top: 50px;
  height: 100px;
  border-top: 1px solid  #ffffff40;
  color: #ffffff80;
  -webkit-box-shadow: 1px solid rgba(0, 0, 0, 0.09);
          box-shadow: 1px solid rgba(0, 0, 0, 0.09);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .last_description h4 {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.site_show {
  width: 90%;
  height: 90%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  background: black;
}

.site_show .extra20 {
  width: 100%;
  height: 100%;
  position: relative;
}

.site_show .extra20 .site_head {
  width: 100%;
  height: 10%;
  background: #eaeaea;
  cursor: pointer;
}

.site_show .extra20 .site_head .pic_no_div {
  width: 100%;
  height: 100%;
  float: left;
}

.site_show .extra20 .site_head .pic_no_div .pic_no {
  width: 200px;
  height: 100%;
  color: black;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid #fa5b0f;
}

.site_show .extra20 .site_head .cntct_bar {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

.site_show .extra20 .site_head .cntct_bar .extra21 {
  width: 100%;
  height: 80%;
  border-left: 1px solid black;
}

.site_show .extra20 .site_head .cntct_bar .extra21 .extra22 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

.site_show .extra20 .site_head .cntct_bar .extra21 .extra22 button {
  width: 80%;
  height: 40px;
  color: white;
  background: #fa5b0f;
  border-color: #fa5b0f;
  outline: none;
}

.site_show .extra20 .site_head .cntct_bar .extra21 .extra22 button a {
  width: 100%;
  height: 100%;
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.site_show .extra20 .site_head .cntct_bar .extra21 .extra22 i {
  font-size: 25px;
}

.site_show .extra20 .site_body {
  width: 100%;
  height: 90%;
}

.site_show .extra20 .site_body .main_img_ {
  width: 100%;
  height: 80%;
  position: relative;
}

.site_show .extra20 .site_body .main_img_ .prev_img_ {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
}

.site_show .extra20 .site_body .main_img_ .prev_img_:hover i {
  color: white;
  font-size: 25px;
  opacity: 1 !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.site_show .extra20 .site_body .main_img_ .prev_img_ .prev_icn_ {
  width: 160px;
  height: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_show .extra20 .site_body .main_img_ .prev_img_ .prev_icn_ i {
  color: white;
  font-size: 25px;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.site_show .extra20 .site_body .main_img_ .the_img_ {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 8;
}

.site_show .extra20 .site_body .main_img_ .the_img_ .extra23 {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_show .extra20 .site_body .main_img_ .the_img_ .extra23 .rling_img {
  width: 100%;
  height: 80%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_show .extra20 .site_body .main_img_ .the_img_ .extra23 .rling_img img {
  height: 100%;
}

.site_show .extra20 .site_body .main_img_ .next_img_ {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.site_show .extra20 .site_body .main_img_ .next_img_:hover i {
  color: white;
  font-size: 25px;
  opacity: 1 !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.site_show .extra20 .site_body .main_img_ .next_img_ .next_icn_ {
  width: 160px;
  height: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_show .extra20 .site_body .main_img_ .next_img_ .next_icn_ i {
  color: white;
  font-size: 25px;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.site_show .extra20 .site_body .slect_img_ {
  width: 100%;
  height: 20%;
  position: relative;
}

.site_show .extra20 .site_body .slect_img_ .prev_slde_shw {
  width: 50px;
  height: 100%;
  background: #ffffffab;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_show .extra20 .site_body .slect_img_ .prev_slde_shw:hover {
  background: white;
}

.site_show .extra20 .site_body .slect_img_ .extra24 {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #eaeaea;
  overflow-x: scroll;
  overflow-y: hidden;
}

.site_show .extra20 .site_body .slect_img_ .extra24 .extra25 {
  width: 100%;
  height: 80%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  left: 0%;
}

.site_show .extra20 .site_body .slect_img_ .extra24 .extra25 img {
  width: auto;
  height: 100%;
  margin: 0 1%;
  opacity: 0.2;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.site_show .extra20 .site_body .slect_img_ .extra24 .extra25 img:hover {
  opacity: 1 !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.site_show .extra20 .site_body .slect_img_ .next_slde_shw {
  width: 50px;
  height: 100%;
  background: #ffffffab;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_show .extra20 .site_body .slect_img_ .next_slde_shw:hover {
  background: white;
}

.close_all_div {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background: #000000db;
  top: 0;
  left: 0;
  z-index: 997;
}

.map_div {
  width: 90%;
  height: 90%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  background: black;
}

.map_div .extra5 {
  width: 100%;
  height: 100%;
  position: relative;
}

.map_div .extra5 .map_head {
  width: 100%;
  height: 10%;
  background: black;
  border-bottom: 1px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.map_div .extra5 .map_head .extra6 {
  width: 200px;
  height: 100%;
  float: left;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map_div .extra5 .map_head .extra6 .map_contct {
  width: 150px;
  height: 80%;
  background: #fa5b0f;
  outline: none;
  border-color: #fa5b0f;
  color: white;
}

.map_div .extra5 .map_head .cross2 {
  width: 5%;
  height: 100%;
  float: right;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.map_div .extra5 .map_head .cross2 i {
  color: white;
  font-size: 30px;
}

.map_div .extra5 .map_body {
  width: 100%;
  height: 90%;
}

.compare_list {
  width: 320px;
  height: 50px;
  background: black;
  position: fixed;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  bottom: 0;
  right: 0;
  border-radius: 2px;
  z-index: 997;
  cursor: pointer;
}

.compare_list .extra8 {
  width: 100%;
  height: 100%;
  position: relative;
}

.compare_list .extra8 .extra10 {
  position: absolute;
  z-index: 23;
  background: black;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  opacity: 1;
}

.compare_list .extra8 .extra10 .p_name {
  color: white;
  display: inline;
}

.compare_list .extra8 .extra10 .p_no {
  color: white;
  background-color: #fa5b0f;
  border-radius: 50%;
  display: inline;
  margin-left: 10px;
  padding: 5px 10px;
}

.compare_list .extra8 .shadow_btn {
  position: absolute;
  z-index: 22;
  background: #fa5b0f;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  opacity: 0;
}

.compare_list .extra8 .shadow_btn .p_name1 {
  color: white;
  display: inline;
}

.compare_list .extra8 .shadow_btn .p_no1 {
  color: white;
  background-color: black;
  border-radius: 50%;
  display: inline;
  margin-left: 10px;
  padding: 5px 10px;
}

.compare_list .extra8 .cmpr_list_shwn {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: absolute;
  z-index: 21;
  background: black;
  bottom: 100%;
  opacity: 0;
}

.compare_list .extra8 .cmpr_list_shwn .extra9 .cross3 {
  width: 100%;
  height: 15%;
}

.compare_list .extra8 .cmpr_list_shwn .extra9 .cross3 .head_name_list {
  width: 80%;
  height: 100%;
  color: white;
  float: left;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 20px;
}

.compare_list .extra8 .cmpr_list_shwn .extra9 .cross3 .close_list {
  width: 20%;
  height: 100%;
  cursor: pointer;
  background: black;
  color: white;
  float: right;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 20px;
}

.compare_list .extra8 .cmpr_list_shwn .extra9 .cmpr_list_body {
  width: 100%;
  height: 85%;
  border-top: 1px solid #ffffff9c;
  padding-top: 15px;
  overflow-y: scroll;
}

.item_to_compare {
  width: 100%;
  height: 75px;
  padding: 0;
  display: none;
  margin-bottom: 10px;
}

.item_to_compare .item_img_compare {
  width: 100%;
  height: 100%;
  padding: 0;
}

.item_to_compare .item_name_compare {
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  color: #eaeaea;
}

.item_to_compare .item_name_compare p {
  margin: 0;
}

.item_to_compare .item_name_compare p small {
  color: red;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.item_to_compare .item_name_compare p small:hover {
  color: #eaeaea;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*# sourceMappingURL=style.css.map */