* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}

html {
  scroll-behavior: smooth;
}

.nav_bar {
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px 2px 5px #00000045;
          box-shadow: 0px 2px 5px #00000045;
  position: fixed;
  top: 0%;
  background-color: #eaeaea;
  border-bottom: 1px solid rgba(220, 220, 220, 0.2);
  z-index: 99;
}

.extr1 {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 50% 30%;
      grid-template-columns: 20% 50% 30%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.menu_icn {
  width: 100%;
  height: 100%;
  display: none;
}

.extr6 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: black !important;
}

.logo_bar {
  width: 100%;
  height: 100%;
  /* background-color: pink; */
}

.logo_bar a {
  height: 100%;
}

.logo_bar a img {
  height: 100%;
}

.menu_bar {
  width: 100%;
  height: 100%;
  text-align: center;
}

.menu_bar ul {
  list-style: none;
  position: relative;
  margin: 30px 0px;
  padding: 0;
  float: right;
}

.menu_bar ul li {
  margin: 0px 15px;
  float: left;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu_bar ul li a {
  color: #fa5b0f;
  font-size: 16px;
  line-height: 32px;
  padding: 6px 16px;
  border-radius: 2px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu_bar ul li a i {
  font-size: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

.active {
  border: 1px solid #fa5b0f;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropdwn_nav {
  width: 200px;
  height: auto;
  border-radius: 2px;
  position: absolute;
  background: #eaeaea;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  top: 150%;
  left: -2%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropdwn_nav ul {
  list-style-type: none;
  margin: 0;
}

.dropdwn_nav ul li {
  display: block;
  margin: 0;
  width: 100%;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #0000002e;
  cursor: pointer;
}

.dropdwn_nav ul li:hover {
  background: #00000024 !important;
}

.dropdwn_nav ul li:hover a {
  color: #00000087 !important;
  font-size: 15px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.dropdwn_nav ul li a {
  color: #00000087 !important;
  font-size: 15px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.menu_bar ul li:hover {
  color: #eaeaea;
  background-color: #fa5b0f;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu_bar ul li:hover .dropdwn_nav {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 120%;
}

.menu_bar ul li:hover a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #eaeaea;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.submit_btn {
  width: 100%;
  height: 100%;
}

.extr7 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.login_btn {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login_btn a {
  font-size: 16px;
  margin: 35px 0px;
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.login_btn a:hover {
  color: #535353;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.submit_property_btn {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit_property_btn a {
  font-size: 16px;
  margin: 30px 0px;
  color: #fa5b0f;
  border: 1px solid #fa5b0f;
  padding: 6px 16px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.submit_property_btn a:hover {
  font-size: 16px;
  margin: 30px 0px;
  color: #eaeaea;
  background-color: #fa5b0f;
  border-radius: 2px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header {
  width: 100%;
  height: 200px;
  background: #fa5b0f;
  margin-top: 80px;
  position: relative;
}

header .bg_img1 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 4;
}

header .bg_img1 img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .black_bx1 {
  width: 100%;
  height: 100%;
  background: #000000c4;
  position: absolute;
  top: 0;
  z-index: 5;
}

header .black_bx1 .black_bx_infrm1 {
  width: 100%;
  height: 100%;
  padding-left: 15%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

header .black_bx1 .black_bx_infrm1 p {
  color: white;
}

header .black_bx1 .black_bx_infrm1 p a {
  color: #fa5b0f;
}

.row {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.side_navigation {
  width: 275px;
  height: 100%;
  position: fixed;
  background: #eaeaea;
  left: -200%;
  top: 0;
  z-index: 998;
  overflow-y: scroll;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 {
  width: 100%;
  height: 100%;
}

.side_navigation .extra26 .side_logo {
  width: 100%;
  height: auto;
}

.side_navigation .extra26 .side_submit_property_btn {
  width: 100%;
  height: 50px;
  margin: 30px 0px 0px 0px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fa5b0f;
  background-color: #fa5b0f;
}

.side_navigation .extra26 .side_submit_property_btn:hover {
  background-color: #eaeaea;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_submit_property_btn:hover a {
  font-size: 16px;
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_submit_property_btn a {
  font-size: 16px;
  color: #eaeaea;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_login {
  width: 100%;
  height: 50px;
  margin: 20px 0px 20px 0px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_login a {
  font-size: 16px;
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_login a:hover {
  color: #535353;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_nav_links {
  width: 100%;
  height: auto;
}

.side_navigation .extra26 .side_nav_links .home_link {
  width: 100%;
  height: 50px;
  border: 1px solid #fa5b0f;
  border-color: #fa5b0f transparent #fa5b0f transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.side_navigation .extra26 .side_nav_links .home_link:hover {
  background: #fa5b0f;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_nav_links .home_link:hover p {
  color: #eaeaea !important;
  margin: 0 !important;
}

.side_navigation .extra26 .side_nav_links .home_link:hover i {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .home_link .home_name {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .home_link .home_name p {
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  margin: 0 !important;
}

.side_navigation .extra26 .side_nav_links .home_link .home_icn {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .home_link .home_icn i {
  color: #fa5b0f;
}

.side_navigation .extra26 .side_nav_links .home_link .home_icn .side_icn2 {
  display: none;
}

.side_navigation .extra26 .side_nav_links .home_link2 {
  width: 100%;
  height: 50px;
  display: none;
  background: #fa5b0f;
  border: 1px solid #fa5b0f;
  border-color: #fa5b0f transparent #fa5b0f transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.side_navigation .extra26 .side_nav_links .home_link2 .home_name2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .home_link2 .home_name2 p {
  color: #eaeaea !important;
  margin: 0 !important;
}

.side_navigation .extra26 .side_nav_links .home_link2 .home_icn2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .home_link2 .home_icn2 i {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .home_link2 .home_icn2 .side_icn1 {
  display: none;
}

.side_navigation .extra26 .side_nav_links .side_extra_link {
  width: 100%;
  height: auto;
}

.side_navigation .extra26 .side_nav_links .side_extra_link .extra_link {
  width: 100%;
  height: 50px;
  border: 1px solid #fa5b0f;
  border-color: transparent transparent #fa5b0f transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.side_navigation .extra26 .side_nav_links .side_extra_link .extra_link:hover {
  background: #fa5b0f;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_nav_links .side_extra_link .extra_link:hover a {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .side_extra_link .extra_link:hover i {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .side_extra_link .extra_link a {
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.side_navigation .extra26 .side_nav_links .listing_link {
  width: 100%;
  height: 50px;
  border: 1px solid #fa5b0f;
  border-color: transparent transparent #fa5b0f transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.side_navigation .extra26 .side_nav_links .listing_link:hover {
  background: #fa5b0f;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_nav_links .listing_link:hover a {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .listing_link:hover i {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .listing_link .listing_name {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .listing_link .listing_name a {
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.side_navigation .extra26 .side_nav_links .blog_link {
  width: 100%;
  height: 50px;
  border: 1px solid #fa5b0f;
  border-color: transparent transparent #fa5b0f transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.side_navigation .extra26 .side_nav_links .blog_link:hover {
  background: #fa5b0f;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_nav_links .blog_link:hover a {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .blog_link:hover i {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .blog_link .blog_name {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .blog_link .blog_name a {
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.side_navigation .extra26 .side_nav_links .page_link {
  width: 100%;
  height: 50px;
  border: 1px solid #fa5b0f;
  border-color: transparent transparent #fa5b0f transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.side_navigation .extra26 .side_nav_links .page_link:hover {
  background: #fa5b0f;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.side_navigation .extra26 .side_nav_links .page_link:hover p {
  color: #eaeaea !important;
  margin: 0 !important;
}

.side_navigation .extra26 .side_nav_links .page_link:hover i {
  color: #eaeaea !important;
}

.side_navigation .extra26 .side_nav_links .page_link .page_name {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .page_link .page_name p {
  color: #fa5b0f;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  margin: 0 !important;
}

.side_navigation .extra26 .side_nav_links .page_link .page_icn {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .page_link .page_icn i {
  color: #fa5b0f;
}

.side_navigation .extra26 .side_nav_links .page_link2 {
  width: 100%;
  height: 50px;
  display: none;
  background: #fa5b0f;
  border: 1px solid #fa5b0f;
  border-color: #fa5b0f transparent #fa5b0f transparent;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.side_navigation .extra26 .side_nav_links .page_link2 .page_name2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .page_link2 .page_name2 p {
  color: #eaeaea !important;
  margin: 0 !important;
}

.side_navigation .extra26 .side_nav_links .page_link2 .page_icn2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side_navigation .extra26 .side_nav_links .page_link2 .page_icn2 i {
  color: #eaeaea !important;
}

section {
  width: 100%;
  height: auto;
}

section .filter_bar {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .filter_bar .extr2 {
  width: 300px;
  height: 55px;
}

section .filter_bar .extr2 #srt_bar1 {
  border-bottom: 2px solid #fa5b0f;
  color: #fa5b0f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .filter_bar .extr2 #srt_bar2 {
  border-bottom: none;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .filter_bar .extr2 .srt_bar {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  background: transparent;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}

section .login_frm {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .login_frm #frm_page1 {
  width: 400px;
  height: auto;
  padding: 30px 30px;
  background: #fff;
  display: inline-block;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}

section .login_frm #frm_page1 .social_list {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .login_frm #frm_page1 .social_list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #535353;
}

section .login_frm #frm_page1 .social_list ul li {
  font-size: 16px;
  margin-top: 10px;
  float: left;
}

section .login_frm #frm_page1 .social_list ul li a {
  margin: 0 10px;
  font-size: 14px;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

section .login_frm #frm_page1 .social_list .facebook-bg {
  background: #4867aa;
  color: #fff;
}

section .login_frm #frm_page1 .social_list .twitter-bg {
  background: #33CCFF;
  color: #fff;
}

section .login_frm #frm_page1 .social_list .google-bg {
  background: #db4437;
  color: #fff;
}

section .login_frm #frm_page1 .social_list .linkedin-bg {
  background: #0177b5;
  color: #fff;
}

section .login_frm #frm_page1 .footer_frm {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  background-color: transparent;
  border-radius: 0 0 5px 5px;
  border-top: solid 1px #f5f5f5;
  margin-top: 20px;
}

section .login_frm #frm_page1 .footer_frm span {
  color: #535353;
}

section .login_frm #frm_page1 .footer_frm span a {
  color: #fa5b0f;
  cursor: pointer;
}

section .login_frm #frm_page1 input[type="e-mail"] {
  width: 100%;
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid #0000003b;
  outline: none;
  color: #717171;
  border-radius: 3px;
  height: 45px;
  margin-bottom: 5%;
}

section .login_frm #frm_page1 .para1 {
  color: red;
  margin: 0 !important;
  display: none;
}

section .login_frm #frm_page1 input[type="password"] {
  width: 100%;
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid #0000003b;
  outline: none;
  color: #717171;
  border-radius: 3px;
  height: 45px;
  margin-bottom: 5%;
}

section .login_frm #frm_page1 .para2 {
  color: red;
  margin: 0 !important;
  display: none;
}

section .login_frm #frm_page1 input[type="button"] {
  width: 100%;
  height: 45px;
  font-size: 15px;
  margin-top: 5%;
  margin-bottom: 5%;
  background: #fa5b0f;
  color: white;
  border: transparent;
  outline: none !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .login_frm #frm_page1 input[type="button"]:hover {
  background: #d54c0a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .login_frm #frm_page1 .checkbox {
  width: 100%;
  padding-left: 0;
  margin: 15px 0;
}

section .login_frm #frm_page1 .checkbox .pull-left {
  float: left;
}

section .login_frm #frm_page1 .checkbox .pull-right {
  cursor: pointer;
  float: right;
  color: #8b8b8b;
  text-decoration: none;
  font-size: 15px;
}

section .login_frm #frm_page2 {
  width: 400px;
  height: auto;
  padding: 30px 30px;
  background: #fff;
  display: none;
  visibility: hidden;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}

section .login_frm #frm_page2 .social_list {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .login_frm #frm_page2 .social_list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #535353;
}

section .login_frm #frm_page2 .social_list ul li {
  font-size: 16px;
  margin-top: 10px;
  float: left;
}

section .login_frm #frm_page2 .social_list ul li a {
  margin: 0 10px;
  font-size: 14px;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

section .login_frm #frm_page2 .social_list .facebook-bg {
  background: #4867aa;
  color: #fff;
}

section .login_frm #frm_page2 .social_list .twitter-bg {
  background: #33CCFF;
  color: #fff;
}

section .login_frm #frm_page2 .social_list .google-bg {
  background: #db4437;
  color: #fff;
}

section .login_frm #frm_page2 .social_list .linkedin-bg {
  background: #0177b5;
  color: #fff;
}

section .login_frm #frm_page2 .footer_frm {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  background-color: transparent;
  border-radius: 0 0 5px 5px;
  border-top: solid 1px #f5f5f5;
  margin-top: 20px;
}

section .login_frm #frm_page2 .footer_frm span {
  color: #535353;
  font-weight: 600;
}

section .login_frm #frm_page2 .footer_frm span a {
  color: #fa5b0f;
  cursor: pointer;
}

section .login_frm #frm_page2 input[type="text"] {
  width: 100%;
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid #0000003b;
  outline: none;
  color: #717171;
  border-radius: 3px;
  height: 45px;
  margin-bottom: 5%;
}

section .login_frm #frm_page2 input[type="e-mail"] {
  width: 100%;
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid #0000003b;
  outline: none;
  color: #717171;
  border-radius: 3px;
  height: 45px;
  margin-bottom: 5%;
}

section .login_frm #frm_page2 .para1 {
  color: red;
  margin: 0 !important;
  display: none;
}

section .login_frm #frm_page2 input[type="password"] {
  width: 100%;
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid #0000003b;
  outline: none;
  color: #717171;
  border-radius: 3px;
  height: 45px;
  margin-bottom: 5%;
}

section .login_frm #frm_page2 input[type="button"] {
  width: 100%;
  height: 45px;
  font-size: 15px;
  margin-top: 5%;
  margin-bottom: 5%;
  background: #fa5b0f;
  color: white;
  border: transparent;
  outline: none !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .login_frm #frm_page2 input[type="button"]:hover {
  background: #d54c0a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .login_frm #frm_page2 .checkbox {
  width: 100%;
  padding-left: 0;
  margin: 15px 0;
}

section .login_frm #frm_page2 .checkbox .pull-left {
  float: left;
}

section .login_frm #frm_page2 .checkbox .pull-right {
  cursor: pointer;
  float: right;
  color: #8b8b8b;
  text-decoration: none;
  font-size: 15px;
}

.footer {
  width: 100%;
  height: auto;
  margin-top: 50px;
  padding-top: 80px;
  background: #111;
}

.footer .company_title img {
  max-height: 75px;
  width: auto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.footer .company_title p {
  margin: 0 0 17px;
  color: #ffffff9c;
}

.footer .helpful_links h4 {
  color: #ffffffe6;
  font-size: 21px;
  margin-bottom: 25px;
}

.footer .helpful_links .footer-links {
  margin: 0 0 15px 0;
  padding: 0;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: circle;
  float: left;
}

.footer .helpful_links .footer-links li {
  position: relative;
  list-style: none;
}

.footer .helpful_links .footer-links li::before {
  font-family: "FontAwesome";
  font-size: 20px;
  position: absolute;
  left: 0;
  top: -2px;
  padding: 0 7px 0 0;
  color: #ccc;
}

.footer .helpful_links .footer-links li a {
  padding: 0 0 9px 16px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #ffffff9c;
  line-height: 21px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .helpful_links .footer-links li a:hover {
  color: #ffffffde;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .contact_us {
  color: #ffffff9c;
}

.footer .contact_us h4 {
  color: #ffffffe6;
  font-size: 21px;
  margin-bottom: 25px;
}

.footer .contact_us .text-widget span {
  color: #ffffff9c;
}

.footer .contact_us .text-widget span {
  color: #ffffff9c;
}

.footer .contact_us .social-icons {
  position: relative;
  list-style-type: none;
  margin-top: 20px !important;
}

.footer .contact_us .social-icons li {
  width: 38px;
  height: 40px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  float: left;
  line-height: 0;
}

.footer .contact_us .social-icons li a {
  color: #ffffff59;
  background-color: transparent;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .contact_us .social-icons li a:hover {
  color: #fa5b0f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .last_description {
  width: 100%;
  margin-top: 50px;
  height: 100px;
  border-top: 1px solid  #ffffff40;
  color: #ffffff80;
  -webkit-box-shadow: 1px solid rgba(0, 0, 0, 0.09);
          box-shadow: 1px solid rgba(0, 0, 0, 0.09);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .last_description h4 {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.scroll_to_top {
  width: 44px;
  height: 44px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
  bottom: 5%;
  left: 2%;
  z-index: 500;
  background: #fa5b0f;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.scroll_to_top i {
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: white;
}

.close_all_div {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background: #000000db;
  top: 0;
  left: 0;
  z-index: 997;
}
/*# sourceMappingURL=style.css.map */