$colour1 : #eaeaea;
$colour2 : #fa5b0f;
$colour3 : #000000bf;
$colour4 : #0000004f;


  *{
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: $colour1;
  }

  html {
    scroll-behavior: smooth;
  }

  // navigation styling starts here
  





















  // navigation styling starts here

  .nav_bar {
    width: 100%;
    height: 80px;
    box-shadow: 0px 2px 5px #00000045;
    position: fixed;
    top: 0%;
    background-color: $colour1;
    border-bottom: 1px solid rgba(220, 220, 220, .2);
    z-index: 99;
  }
  
  .extr1{
    width: 100%;
    height: 100%;
    padding: 0 5%;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 100%;
  }
  
  .menu_icn{
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .extr6{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black !important;
  }
  .logo_bar{
    width: 100%;
    height: 100%;
    /* background-color: pink; */

    a{
      height: 100%;
      img{
        height: 100%;
      }
    }
  }
  
  .menu_bar{
    width: 100%;
    height: 100%;
    text-align: center;
    // background-color: red;
    ul{
        list-style: none;
        position: relative;
        margin: 30px 0px;
        padding: 0;
        // text-align: center;
        float: right;
        li{
            margin: 0px 15px;
            float: left;
            position: relative;
            transition: 0.2s;
            a{  
                color: $colour2;
                // background-color: transparent;
                // border: 1px solid #fa5b0f;
                font-size: 16px;
                line-height: 32px;
                padding: 6px 16px;
                border-radius: 2px;
                text-decoration-line: none;
                transition: 0.2s;
                i{
                    font-size: 10px;
                    padding-left: 7px;                    
                    padding-right: 7px;
                }
            }
        }
    }
  }

  .active{
    border: 1px solid $colour2;
    border-radius: 2px;
    transition: 0.2s;
  }

  .dropdwn_nav{
    width: 200px;
    height: auto;
    border-radius: 2px;
    position: absolute;
    background: $colour1;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.12);
    top: 150%;
    left: -2%;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    ul{
      list-style-type: none;
      margin: 0;
      li{
        display: block;
        margin: 0;
        width: 100%;
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid #0000002e;
        cursor: pointer;
        &:hover{
          background: #00000024 !important;
          a{
            color: #00000087 !important;
            font-size: 15px;
            font-weight: 500;
            padding: 0;
            margin: 0;
          }
        }
        a{
          color: #00000087 !important;
          font-size: 15px;
          font-weight: 500;
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  .menu_bar ul li:hover{
    color: $colour1;
    background-color: $colour2;    
    border-radius: 2px;
    transition: 0.2s;
    .dropdwn_nav{
        visibility: visible;
        opacity: 1;
        transition: 0.2s;
        top: 120%;
    }
    a{       
      text-decoration-line: none;
      color: $colour1;
      transition: 0.2s;
    }
  }  
  
  .submit_btn{
    width: 100%;
    height: 100%;
  }

  .extr7{
    width: 100%;
    height: 100%;    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

  .login_btn{
      width: 100%;
      height: 100%;
      display: grid;
      justify-content: center;
      a{
        font-size: 16px;
        margin: 35px 0px;
        color: $colour2;
        text-decoration-line: none;
        transition: 0.2s;
        &:hover{
          color: #535353;
          transition: 0.2s;
        }
    }
  }

  .submit_property_btn{
      width: 100%;
      height: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
      a{
        font-size: 16px;
        margin: 30px 0px;
        color: $colour2;        
        border: 1px solid $colour2;        
        padding: 6px 16px;
        text-decoration-line: none;
        border-radius: 2px;
        transition: 0.2s;
        &:hover{
            font-size: 16px;
            margin: 30px 0px;            
            color: $colour1;
            background-color: $colour2;
            border-radius: 2px;
            text-decoration-line: none;
            transition: 0.2s;
        }
      }
  }

  // navigation styling ends here


















  
.side_navigation{
  width: 275px;
  height: 100%;
 //  display: inline;
  position: fixed;
  background: $colour1;
  left: -200%;
  top: 0;
  z-index: 998;
  overflow-y: scroll;
  transition: 0.2s;
  .extra26{
    width: 100%;
    height: 100%;
    .side_logo{
      width: 100%;
      height: auto;      
    }
    .side_submit_property_btn{
     width: 100%;
     height: 50px;
     margin: 30px 0px 0px 0px; 
     display: grid;
     justify-content: center;
     align-items: center;   
     border: 1px solid $colour2;
     background-color: $colour2;
      &:hover{
        background-color: $colour1;
        transition: 0.2s;
        a{
           font-size: 16px;          
           color: $colour2;
           text-decoration-line: none;
           transition: 0.2s;
        }            
       }
     a{
       font-size: 16px;
       color: $colour1;     
       text-decoration-line: none;
       transition: 0.2s;        
     }
      }
    .side_login{
      width: 100%;
      height: 50px;
      margin: 20px 0px 20px 0px; 
      display: grid;
      justify-content: center;
      align-items: center;
      a{
       font-size: 16px;
       color: #fa5b0f;
       text-decoration-line: none;
       transition: 0.2s;
       &:hover{
         color: #535353;
         -webkit-transition: 0.2s;
         transition: 0.2s;
       }
      }
    }
    .side_nav_links{
      width: 100%;
      height: auto;
      .home_link{
         width: 100%;
         height: 50px;
         // background: #cdcbcb;
         border: 1px solid $colour2;
         border-color: $colour2 transparent $colour2 transparent;
         border-radius: 2px;
         transition: 0.2s;
         cursor: pointer;
         &:hover{
            background: $colour2;
            color: white;
            transition: 0.2s;
            p{
              color: $colour1 !important;
              margin: 0 !important;
            }
            i{
              color: $colour1 !important;
            }
         }
        .home_name{
          display: grid;
         //  justify-content: center;
          align-items: center;
          p{
            color: $colour2;
            text-decoration-line: none;
            margin: 0 !important;
          }
        }
        .home_icn{
           display: grid;
           justify-content: center;
           align-items: center;
           i{
             color: $colour2;
           }
           .side_icn2{
             display: none;
           }
        }
      }
      .home_link2{
       width: 100%;
       height: 50px;
       display: none;
       background: $colour2;
       border: 1px solid $colour2;
       border-color: $colour2 transparent $colour2 transparent;
       border-radius: 2px;
       transition: 0.2s;
       cursor: pointer;
      .home_name2{
        display: grid;
       //  justify-content: center;
        align-items: center;
        p{
         color: $colour1 !important;
         margin: 0 !important;
        }
      }
      .home_icn2{
         display: grid;
         justify-content: center;
         align-items: center;
         i{
           color: $colour1 !important;
         }
         .side_icn1{
           display: none;
         }
      }
      }
      .side_extra_link{
        width: 100%;
        height: auto;
        .extra_link{
           width: 100%;
           height: 50px;
           // background: #cdcbcb;
           border: 1px solid $colour2;
           border-color: transparent transparent $colour2 transparent;
           border-radius: 2px;
           transition: 0.2s;
           display: grid;
           align-items: center;
           cursor: pointer;
           &:hover{
             background: $colour2;
             color: white;
             transition: 0.2s;
             a{
               color: $colour1 !important;
             }
             i{
               color: $colour1 !important;
             }
           }
           a{
             color: $colour2;
             text-decoration-line: none;
           }
        }
      }
      .listing_link{
       width: 100%;
       height: 50px;
       // background: #cdcbcb;
       border: 1px solid $colour2;
       border-color: transparent transparent $colour2 transparent;
       border-radius: 2px;
       transition: 0.2s;
       cursor: pointer;
       &:hover{
          background: $colour2;
          color: white;
          transition: 0.2s;
          a{
            color: $colour1 !important;
          }
          i{
            color: $colour1 !important;
          }
       }
      .listing_name{
        display: grid;
       //  justify-content: center;
        align-items: center;
        a{
          color: $colour2;
          text-decoration-line: none;
        }
      }
      }
      .blog_link{
       width: 100%;
       height: 50px;
       // background: #cdcbcb;
       border: 1px solid $colour2;
       border-color: transparent transparent $colour2 transparent;
       border-radius: 2px;
       transition: 0.2s;
       cursor: pointer;
       &:hover{
          background: $colour2;
          color: white;
          transition: 0.2s;
          a{
            color: $colour1 !important;
          }
          i{
            color: $colour1 !important;
          }
       }
      .blog_name{
        display: grid;
       //  justify-content: center;
        align-items: center;
        a{
          color: $colour2;
          text-decoration-line: none;
        }
      }
      }
      .page_link{
       width: 100%;
       height: 50px;
       // background: #cdcbcb;
       border: 1px solid $colour2;
       border-color: transparent transparent $colour2 transparent;
       border-radius: 2px;
       transition: 0.2s;
       cursor: pointer;
       &:hover{
          background: $colour2;
          color: white;
          transition: 0.2s;
          p{
            color: $colour1 !important;
            margin: 0 !important;
          }
          i{
            color: $colour1 !important;
          }
       }
      .page_name{
        display: grid;
       //  justify-content: center;
        align-items: center;
        p{
          color: $colour2;
          text-decoration-line: none;
          margin: 0 !important;
        }
      }
      .page_icn{
         display: grid;
         justify-content: center;
         align-items: center;
         i{
           color: $colour2;
         }
      }
      }
      .page_link2{
       width: 100%;
       height: 50px;
       display: none;
       background: $colour2;
       border: 1px solid $colour2;
       border-color: $colour2 transparent $colour2 transparent;
       border-radius: 2px;
       transition: 0.2s;
       cursor: pointer;
      .page_name2{
        display: grid;
       //  justify-content: center;
        align-items: center;
        p{
         color: $colour1 !important;
         margin: 0 !important;
        }
      }
      .page_icn2{
         display: grid;
         justify-content: center;
         align-items: center;
         i{
           color: $colour1 !important;
         }
      }
      }
    }
  }
}





































  header{
    width: 100%;
    height: 200px;
    background: #fa5b0f;
    margin-top: 80px;
    position: relative;
    .bg_img1{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        z-index: 4;
        img{
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
    }
    .black_bx1{
        width: 100%;
        height: 100%;
        background: #000000c4;
        position: absolute;
        top: 0;
        z-index: 5;
        .black_bx_infrm1{
            width: 100%;
            height: 100%;
            padding-left: 15%;
            display: grid;
            align-items: center;
            color: white;
            p{
              color: white;
              a{
                color: $colour2;
              }
            }
        }
    }
  }






















  .row{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
  }
























  section{
    width: 100%;
    height: auto;
    .filter_bar{
      width: 100%;
      height: auto;
      margin-bottom: 50px;
      .srt_bar{
        width: 300px;
        height: 55px;
        background: #ffffff66;
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12);  
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
          text-align: center;
        }      
      }
      // background: red;
    }

    .all_product{
      width: 100%;
      height: auto; 
      .extraDiv{
        width: 100%;
        height: auto;
        background: #f3f3f3;
        .heading-properties-3{
          h1{
          font-size: 25px;
          font-weight: 600;
          margin: 0 0 15px; 
          color: #4d4d4d;
        }

        .mb3{
          margin-bottom: 30px !important;
          .property-price {
            margin-right: 10px;
            font-weight: 600;
        }
          
        .rent {
          background: $colour2;
        }

         .rent {
          padding: 5px 20px;
          border-radius: 50px;
          color: #fff;
          font-size: 12px;
          font-weight: 600;
          margin-right: 10px;
      }

      .location {
          font-size: 14px;
          font-weight: 500;
          i{
            color: $colour2;
          }
      }

        }
        }       

        .site_show{
          width: 90%;
          height: 500px;
          background: black;
          overflow: hidden;
          .extra20{
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            .site_body{
                width: 100%;
                height: 100%;
                .main_img_{
                  width: 100%;
                  height: 80%;
                  position: relative;
                  .prev_img_{
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    cursor: pointer;
                    &:hover{
                      i{
                        color: white;
                        font-size: 25px;
                        opacity: 1 !important;
                        transition: 0.2s;
                      }
                    }
                    .prev_icn_{
                      width: 160px;
                      height: 100%;
                      float: left;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      i{
                        color: white;
                        font-size: 25px;
                        opacity: 0.5;
                        transition: 0.2s;
                      }
                    }
                  }

                  .the_img_{
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 8;
                    .extra23{
                      width: 100%;
                      height: 100%;
                      position: relative;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      .rling_img{
                        width: 100%;
                        height: 80%;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                          height: 100%;
                        }
                      }
                    }
                  }

                  .next_img_{
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 10;
                    cursor: pointer;
                    &:hover{
                      i{
                        color: white;
                        font-size: 25px;
                        opacity: 1 !important;
                        transition: 0.2s;
                      }
                    }
                    .next_icn_{
                      width: 160px;
                      height: 100%;
                      float: right;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      i{
                        color: white;
                        font-size: 25px;
                        opacity: 0.5;
                        transition: 0.2s;
                      }
                    }
                  }            
                }
                .slect_img_{
                  width: 100%;
                  height: 20%;
                  position: relative;
                  // opacity: 0;
                  // display: none;
                  .prev_slde_shw{
                    width: 50px;
                    height: 100%;
                    background: #ffffffab;
                    position: absolute;
                    z-index: 10;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                      background: white;
                    }
                  }
                  .extra24{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top: 1px solid $colour1;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    .extra25{
                    width: 100%;
                    height: 80%;
                    position: absolute; 
                    display: flex;
                    flex-wrap: nowrap;
                    //  top: 5%;
                    left: 0%;
                      img{
                        width: auto;
                        height: 100%;
                        margin: 0 1%;
                        opacity: 0.2;
                        cursor: pointer;
                        transition: 0.2s;
                        &:hover{
                          opacity: 1 !important;
                          transition: 0.2s;
                        }
                      }
                  }
                  }
                  .next_slde_shw{
                    width: 50px;
                    height: 100%;
                    background: #ffffffab;
                    position: absolute;
                    z-index: 10;
                    top: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                      background: white;
                    }
                  }
                }
            }
        }
        }

        .properties-description{
          width: 100%;
          height: auto;

        .heading-2 {
          margin: 0 0 20px;
          font-size: 21px;
          font-weight: 600;
      }

      p{
      font-size: 16px;
      line-height: 30px;
      color: #535353;
        }
        }

        .properties-amenitie{
          width: 100%;
          height: auto;
          .heading-2 {
            margin: 0 0 20px;
            font-size: 21px;
            font-weight: 600;
          }         
        }        
        
        
      }   
    }
    }











 
    .amenities.col-xl-4.col-lg-4.col-md-6.col-sm-6.col-12 {
      // background: red;
      ul{
        margin: 0;
        padding: 0;
        list-style: none;
        color: #535353;
        li{
          margin-bottom: 15px;
          font-size: 14px;
          font-weight: 500;
          i{
            color: $colour2;
            margin-right: 10px;
            text-align: center;
            font-size: 15px;
          }
        }
      }
  }





  .propertiesLocation{
    width: 100%;
    height: auto;
    .heading-2 {
      margin: 0 0 20px;
      font-size: 21px;
      font-weight: 600;
    } 
  } 

  
  .map_body{
    width: 100%;
    height: 350px;
  }



  .site_cart{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.site_img{
    width: 100%;
    height: 250px;
    background: white;
    overflow: hidden;
    border-top:  1px solid $colour4;   
    border-left: 1px solid $colour4;
    border-right: 1px solid $colour4;
    cursor: url('../img/01.SVG'), auto;
    position: relative;    
    transition: 0.5s;
    &:hover{
      img{
         transform: scale(1.2);
         transition: 0.5s;
         z-index: 50;
        }
    }
    .img_for_cart{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 19;
        .extra2{
            width: 100%;
            height: 100%;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0%;
                transition: 0.5s;
            }
        }
    }
    .site_blackbx{
        width: 100%;
        height: 100%;
        background: #00000066;
        position: absolute;
        z-index: 20;
        overflow: hidden;
        transition: 0.5s;
        .extra1{
            width: 100%;
            height: 100%;
            position: relative;            
            .site_featured{
                width: 100%;
                height: 40px;
                background: #fa5b0f;
                position: absolute;
                left: -40%;
                top: 10%;
                transform: rotate(-45deg);
                color: white;
                box-shadow: 0px 4px 15px 0px black;
                display: grid;
                justify-content: center;
                align-items: center;
                transition: 0.5s;
            }
            .price{
                width: 100%;
                height: 20%;
                position: absolute;
                bottom: 0;
                p{
                    color: #fff;
                    font-size: 23px;
                    font-weight: 600;
                    small{
                        font-style: normal;
                        font-size: 16px;
                        font-weight: 700;
                        padding: 0;
                        margin: -4px 0 0 0;
                    }
                }
            }
        }
    }
}

.site_infrm{
    width: 100%;
    height: auto;
    background: white;
    border-left: 1px solid $colour4;
    border-right: 1px solid $colour4;
    padding-top: 15px;
    padding-bottom: 15px;
    .name1{
        width: 100%;
        height: 35px;
        text-align: center;
        color: black;
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 10px;    
    }
    .name2{
        font-style: normal;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        transition: 0.2s;
        cursor: pointer;
    }
    .addrss1{
        &:hover{
            color: $colour2;
            transition: 0.2s;
        }
    }
}

.site_btn{
    width: 100%;
    height: auto;
    background: $colour1;
    border-left: 1px solid $colour4;
    border-right: 1px solid $colour4;
    button{
        height: 40px;
        color: white;
        background: #fa5b0f;
        border-color: #fa5b0f;
        outline: none;
        box-shadow: 3px 6px 10px #0000006e;
    }
}

.site_seller{
    width: 100%;
    height: auto;
    background: white;
    border-left: 1px solid $colour4;
    border-right: 1px solid $colour4;
    border-bottom:  1px solid $colour4;
    padding: 20px 0 20px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 10px;
    grid-template-rows: auto;
    .seller_inrm{
        width: 100%;
        height: 100%;
        text-align: center;
        p{
            margin: 0;
            font-weight: 700;
            color: #00000080;
        }
    }
}





.extraDiv3{
  width: 100%;
  height: auto;
}


.contactAgent{
  width: 100%;
  height: auto;
  .contactForm{
    width: 100%;
    height: auto;
    .form_in{
      width: 100%;
      height: auto;
      .formHead{
        width: 100%;
        height: 100px;
        img{
          width: 100%;
          height: 80px;
          border-radius: 50%;
        }
        h4{
          color: $colour2;
          margin: 0px 0 15px 0;
          font-size: 20px;
        }
      }
    }
}
}

.formBody{
  width: 100%;
  height: auto;   

      
  .Contact-Details_content{
    width: 100%;
    height: auto;
    .form-group {
        margin-bottom: 20px;
        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 13px;
            color: #4d4d4d;
        }
        .input-text {
            width: 100%;
            padding: 10px 17px;
            font-size: 13px;
            border: 1px solid #e8e7e7;
            outline: none;
            color: #6c6c6c;
            height: 45px;
            border-radius: 2px;
        }
        .form-control{
            width: 100%;
            padding: 10px 17px;
            font-size: 13px;
            border: 1px solid #e8e7e7;
            outline: none;
            color: #6c6c6c;
            height: 45px;
            border-radius: 2px;
        }                    
    }
}
}



      
.submit{
  width: 100%;
  height: auto;
  .submit_content{
      width: 100%;
      height: auto;
      .btn-default{
        height: 40px;
        // background: $colour2;
      }
  }            
  }






  .footer{
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-top: 80px;
    background: #111;
    .company_title{
      // background: red;
      img{
        max-height: 75px;
        width: auto;
        transform: translate3d(0,0,0);
      }
      p{
        margin: 0 0 17px;
        color: #ffffff9c;
      }
    }
  
    .helpful_links{
      // background: pink;
      h4{
        color: #ffffffe6;
        font-size: 21px;
        margin-bottom: 25px;
      }
      .footer-links{
        margin: 0 0 15px 0;
        padding: 0;
        width: 50%;
        box-sizing: border-box;
        list-style-type: circle;
        float: left;
        li{
          position: relative;
          list-style: none;
          &::before{
            font-family: "FontAwesome";
            font-size: 20px;
            position: absolute;
            left: 0;
            top: -2px;
            padding: 0 7px 0 0;
            color: #ccc;
          }
          a{
            padding: 0 0 9px 16px;
            display: inline-block;
            transition: all 0.2s ease-in-out;
            color: #ffffff9c;
            line-height: 21px;
            transition: 0.2s;
            &:hover{
              color: #ffffffde;
              transition: 0.2s;
            }
          }
        }
      }
    }
  
    .contact_us{
      color: #ffffff9c;
      h4{
        color: #ffffffe6;
        font-size: 21px;
        margin-bottom: 25px;
      }
  
      .text-widget span {
        color: #ffffff9c;
      }
  
      .text-widget span {
        color: #ffffff9c;
      }
      .social-icons {
        position: relative;
        list-style-type: none;
        margin-top: 20px !important;
        li{        
          width: 38px;
          height: 40px;
          display: grid;
          justify-content: center;
          align-items: center;
          margin: 0;
          padding: 0;
          float: left;
          line-height: 0;
          a{
            color: #ffffff59;
            background-color: transparent;
            text-decoration-line: none;
            transition: 0.2s;
            &:hover{
              color: $colour2;
              transition: 0.2s;
            }
          }
        }
      }
    }
  
    .last_description{
      width: 100%;
      margin-top: 50px;
      height: 100px;
      border-top: 1px solid  #ffffff40;
      color: #ffffff80;
      box-shadow: 1px solid rgba(0,0,0,0.09);
      display: grid;
      justify-content: center;
      align-items: center;
      h4{
        font-size: 15px;
        line-height: 30px;
        text-align: center;
      }
    }
  }

  












  .scroll_to_top{
    width: 44px;
    height: 44px;
    opacity: 0;
    transition: 0.5s;
    position: fixed;
    bottom: 5%;
    left: 2%;
    z-index: 500;
    background: $colour2;
    display: grid;
    justify-content: center;
    align-content: center;
    i{
      width: 100%;
      height: 100%;
      font-size: 15px;
      color: white;
    }
  }






.close_all_div{
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background: #000000db;
  top: 0;
  left: 0;
  z-index: 997;   
}


.map_div{
  width: 90%;
  height: 90%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background: black;
  
  .extra5{
      width: 100%;
      height: 100%;
      position: relative;
      .map_head{
          width: 100%;
          height: 10%;
          background: black;
          border-bottom: 1px solid white;
          padding-top: 5px;
          padding-bottom: 5px;
          .extra6{
              width: 200px;
              height: 100%;
              float: left;
              display: grid;
              justify-content: center;
              align-items: center;                
            .map_contct{
              width: 150px;
              height: 80%;
              background: $colour2;
              outline: none;
              border-color: $colour2; 
              color: white;
          }

          }
          
          .cross2{
              width: 5%;
              height: 100%;
              float: right;
              display: grid;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              i{
                  color: white;
                  font-size: 30px;
              }
          }
}

.map_body{
    width: 100%;
    height: 90%;
}
  }

}



.compare_list{
  width: 320px;
  height: 50px;
  background: black;
  position: fixed;
  opacity: 0;
  transition: 0.5s;
  bottom: 0;
  right: 0;
  border-radius: 2px;
  z-index: 997;
  cursor: pointer;
  .extra8{
      width: 100%;
      height: 100%;
      position: relative;
      .extra10{
         position: absolute;            
         z-index: 23;
         background: black;
         top: 0;
         left: 0;            
         transition: 0.5s;
         display: grid;
         justify-content: center;
         align-items: center;            
         padding-top: 15px;    
         opacity: 1;        
         .p_name{
             color: white;
             display: inline;
         }
         .p_no{
             color: white;
             background-color: #fa5b0f;
             border-radius: 50%;
             display: inline;
             margin-left: 10px;
             padding: 5px 10px;
         }
      }
      .shadow_btn{
       position: absolute;            
       z-index: 22;
       background: $colour2;
       top: 0;
       left: 0;
       transition: 0.5s;
       display: grid;
       justify-content: center;
       align-items: center;
       padding-top: 15px; 
       opacity: 0;        
       .p_name1{
         color: white;
         display: inline;
       }
       .p_no1{
           color: white;
           background-color: black;
           border-radius: 50%;
           display: inline;
           margin-left: 10px;
           padding: 5px 10px;
       }
      }
     .cmpr_list_shwn{
         width: 100%;
         height: 100%;
         overflow: visible;
         position: absolute;
         z-index: 21;
         background: black;
         bottom: 100%;
         opacity: 0;
         .extra9{
             .cross3{
                 width: 100%;
                 height: 15%;
                 .head_name_list{
                     width: 80%;
                     height: 100%;
                     color: white;
                     float: left;
                     display: grid;
                     justify-content: center;
                     align-content: center;
                     font-size: 20px;
                 }
                 .close_list{
                     width: 20%;
                     height: 100%;
                     cursor: pointer;
                     background: black;
                     color: white;
                     float: right;
                     display: grid;
                     justify-content: center;
                     align-content: center;
                     font-size: 20px;
                 }
             }
             .cmpr_list_body{
                 width: 100%;
                 height: 85%;
                 border-top: 1px solid #ffffff9c;
                 padding-top: 15px;
                 overflow-y: scroll;                                      
             }
         }
     }
  }
}








.item_to_compare{
  width: 100%;
  height: 75px;
  padding: 0;
  display: none;
  // box-shadow: 1px 1px 2px 0px #eaeaea7d;
  margin-bottom: 10px;
 .item_img_compare{
   width: 100%;
   height: 100%;
   padding: 0;
 }
 .item_name_compare{
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    color: $colour1;
    p{
      margin: 0;
      small{
        color: red;
        transition: 0.2s;
        &:hover{
          color: $colour1;
          transition: 0.2s;
        }
      }
    }
 }
} 
